[Unit]
Description=Mercari Watcher Bot
After=network.target

[Service]
Type=simple
User=botuser
WorkingDirectory=/home/botuser/mecr
Environment="PATH=/home/botuser/mecr/venv/bin"
ExecStart=/home/botuser/mecr/venv/bin/python /home/botuser/mecr/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target